<style>
    .content { margin: 0 5rem; }
    dt { font-weight: bold; }
    dd { margin-bottom: 1rem; }
</style>

<div class="content">
    <h1>Pagamento pendente</h1>

    <dl>
        <dt>collection_id</dt>
        <dd>{{ collection_id }}</dd>

        <dt>collection_status</dt>
        <dd>{{ collection_status }}</dd>

        <dt>payment_id</dt>
        <dd>{{ payment_id }}</dd>

        <dt>status</dt>
        <dd>{{ status }}</dd>

        <dt>external_reference</dt>
        <dd>{{ external_reference }}</dd>

        <dt>payment_type</dt>
        <dd>{{ payment_type }}</dd>

        <dt>merchant_order_id</dt>
        <dd>{{ merchant_order_id }}</dd>

        <dt>preference_id</dt>
        <dd>{{ preference_id }}</dd>

        <dt>site_id</dt>
        <dd>{{ site_id }}</dd>

        <dt>processing_mode</dt>
        <dd>{{ processing_mode }}</dd>

        <dt>merchant_account_id</dt>
        <dd>{{ merchant_account_id }}</dd>
    </dl>
</div>
